.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 1rem;
}

.App-logo {
  height: 50vmin;
  margin-bottom: 1rem;
}

.App-header {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

code {
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}

.capture-button {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 23px;
  height: fit-content;
  white-space: nowrap;
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #370992;
  color: white;
  width: 100;
  margin-bottom: 20px;
}

.bento-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #e0e0e0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.emoji-container {
  margin-right: 10px;
}

.emoji {
  font-size: 30px;
}

.text-container {
  flex-grow: 1;
}

.text-container p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
